* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

/* ------------------------Headder Section Rohan------------------------ */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./images/main1.mp4);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-content: center;
}

nav img {
  width: 150px;
  /* ---100px-- */
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 15px;
  transition: all ease 0.3s;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #f44336;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

button span {
  background: #f44336;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

nav .fa {
  display: none;
}
@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/* -- ------------------------Facilities Rohan------------------------ -- */
.weoffer {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.weoffer-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.weoffer-col .fa-solid {
  color: #f44336;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.weoffer-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 00.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* ------------------------SERVICES Rohan------------------------ */
.SERVICES {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.SERVICES-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.SERVICES-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* ------------------------sub header Rohan------------------------ */
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/Banner3.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

/* ------------------------Information About ownership and company Rohan------------------------ */
.about-us {
  width: 70%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  align-items: center;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  max-width: 100%;
  max-height: 78%;
  border-radius: 50px;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
  text-align: justify;
}

.about-col button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #f44336;
  background: transparent;
  color: #000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/*-----------------------------------------------------------------------------*/
.about-us1 {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  align-items: center;
}
.about-col1 {
  flex-basis: 100%;
  padding: 30px 2px;
}

.about-col1 img {
  max-width: 100%;
  max-height: 68%;
  border-radius: 50px;
}

.about-col1 h1 {
  padding-top: 0;
}

.about-col1 p {
  padding: 15px 0 25px;
  text-align: justify;
}

.about-col1 button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #f44336;
  background: transparent;
  color: #000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
@media (max-width: 700px) {
  .about-col1 h1 {
    padding-top: 0;
    font-size: 25px;
  }
  .about-col h1 {
    padding-top: 0;
    font-size: 25px;
  }
}
/* ------------------------Counter Number Section Rohan------------------------ */
.number {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.numtxt {
  width: 60%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.counter h2 {
  font-size: 20px;
  color: #464646;
  margin: 2rem 0 1rem 0;
}

.counter p {
  font-size: 15px;
}

.counter {
  text-align: center;
  padding-top: 100px;
}
.counter .fa-solid {
  color: #f44336;
  size: 50%;
}
.counter .fa-brands {
  color: #f44336;
}
@media (max-width: 700px) {
  .number {
    display: inline;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
}

/* ------------------------Testimonial Section Rohan------------------------ */
.testimonial1 {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimonial {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimonial h1 {
  color: #fff;
}
.testimonial p {
  color: #fff;
}

.testim {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: -200px;
}
.testim .wrap {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 40px 20px;
  margin: auto;
}
.cont .fa {
  color: #f44336;
}
.testim .arrow {
  display: block;
  position: absolute;
  color: #f44336;
  cursor: pointer;
  font-size: 2em;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
}
.testim .arrow:before {
  cursor: pointer;
}
.testim .arrow.left {
  left: 10px;
}
.testim .arrow.right {
  right: 10px;
}
.testim .arrow:hover {
  color: #f44336;
}
.testim .dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: block;
  z-index: 3333;
  height: 12px;
}
.testim .dots .dot {
  list-style-type: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.testim .dots .dot.active,
.testim .dots .dot:hover {
  background: #f44336;
  border-color: #f44336;
}

.testim .dots .dot.active {
  animation: testim-scale 0.5s ease-in-out forwards;
}
.testim .cont {
  position: relative;
  overflow: hidden;
}
.testim .cont > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}
.testim .cont > div.inactive {
  opacity: 1;
}
.testim .cont > div.active {
  position: relative;
  opacity: 1;
}
.testim .cont div .img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
}
.testim .cont div h2 {
  color: #f44336;
  font-size: 1em;
  margin: 15px 0;
}
.testim .cont div p {
  font-size: 1.15em;
  color: #000;
  width: 80%;
  margin: auto;
}

.testim .cont div.active .img img {
  animation: testim-show 0.5s ease-in-out forwards;
}
.testim .cont div.active h2 {
  animation: testim-content-in 0.4s ease-in-out forwards;
}
.testim .cont div.active p {
  animation: testim-content-in 0.5s ease-in-out forwards;
}
.testim .cont div.inactive .img img {
  animation: testim-hide 0.5s ease-in-out forwards;
}
.testim .cont div.inactive h2 {
  animation: testim-content-out 0.4s ease-in-out forwards;
}
.testim .cont div.inactive p {
  animation: testim-content-out 0.5s ease-in-out forwards;
}

@keyframes testim-scale {
  0% {
    box-shadow: 0px 0px 0px 0px #eee;
  }
  35% {
    box-shadow: 0px 0px 10px 5px #eee;
  }
  70% {
    box-shadow: 0px 0px 10px 5px #ea830e;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@keyframes testim-content-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes testim-content-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes testim-show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes testim-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* Responsive */

@media all and (max-width: 300px) {
  body {
    font-size: 14px;
  }
}
@media all and (max-width: 500px) {
  .testim .arrow {
    font-size: 1.5rem;
  }
  .testim .cont div p {
    line-height: 25px;
  }
}

/* ------------------------Call to Action Section Rohan------------------------ */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px, 0;
}
.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
.cta button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #f44336;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/* ------------------------Footer Section Rohan------------------------ */
footer {
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px;
  margin: 0;
}

.footer-distributed h3 span {
  color: #f44336;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #f44336;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3f71ea;
}

.footer-links a:hover {
  color: #3f71ea;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/* ------------------------Contact us Rohan----------------------- */
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contxt h1 {
  color: #000;
}

.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.contact-col button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #f44336;
  background: transparent;
  color: #000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* ------------------------Featured Product Rohn------------------------ */
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 14px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .fa-solid .fa-cart-shopping {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
@media (max-width: 700px) {
  #product1 .pro-container {
    justify-content: center;
  }
}
/* ------------------------Reloader Section Rohan------------------------ */
#preloder {
  background: #000 url(./images/loader.gif) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* ------------------------Chat Box  Section Rohan------------------------ */
.chat-ion img {
  height: 70px;
  width: 70px;
  position: fixed;
  right: 30px;
  bottom: 10px;
  cursor: pointer;
  z-index: 1000;
}

/* Gallary  ---Parag---*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

::selection {
  color: #fff;
  background: #f44336;
}

.wrapper {
  margin: 100px auto;
  max-width: 1100px;
}
.wrapper nav {
  display: flex;
  justify-content: left;
}
.wrapper .items {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items {
  margin: 10px;
}
.items span {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #f44336;
  background-color: transparent;
  border: 2px solid #f44336;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  margin: 5px;
}
/* .items span{
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #007bff;
  border-radius: 50px;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
} */
.items span.active,
.items span:hover {
  color: #fff;
  background: #f44336;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-evenly;
}
.gallery .image {
  width: calc(40%);
  padding: 7px;
  margin-bottom: 20px;
}
.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img {
  transform: scale(1.1);
}
.gallery .image.hide {
  display: none;
}
.gallery .image.show {
  animation: animate 0.4s ease;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details {
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p {
  font-weight: 500;
  margin-left: 5px;
}
.details .icon {
  color: #007bff;
  font-style: 22px;
  cursor: pointer;
}
.preview-box .image-box {
  width: 100%;
  display: flex;
}
.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}
.shadow.show {
  display: block;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .items {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    width: 50%;
  }
}
.item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}
@media (max-width: 1000px) {
  .gallery .image {
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper nav .items {
    max-width: 600px;
  }
  nav .items span {
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper {
    margin: 30px auto;
  }
  .wrapper nav .items {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span {
    margin: 5px;
  }
  .gallery .image {
    width: 100%;
  }
}

/* ------------------------Charts content Section Rohan------------------------ */
.charts {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 50px;
  align-items: center;
}
.charts-col {
  margin-right: 0px;
}
.piechart-col {
  flex-basis: 100%;
  padding: 30px 2px;
}

.piechart-col h1 {
  padding-top: 0;
}

.piechart-col p {
  padding: 15px 0 25px;
  text-align: justify;
}

.piechart-col button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #f44336;
  background: transparent;
  color: #000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
@media (max-width: 700px) {
  .piechart-col h1 {
    padding-top: 0;
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .charts-col {
    width: 100%;
    height: 150%;
    flex-direction: column;
    /* margin-left: -100px; */
    align-items: center;
  }
}
